<li class="blog-li">
    <a href="{{ post.url | url }}">
        <div class="blog-image">
            <img src="{{ post.data.image }}" alt="Blog post image">
        </div>
        <div class="text-contents">
            <h6 class="text">{{ post.date | postDate }}</h6>
            <h4 class="title">{{ post.data.title }}</h4>
            <h6 class="text">{{ post.data.teaser }}</h6>
        </div>
    </a>
</li>