<li class="blog-li">
  <img src="{{ post.data.image }}" alt="" class="blog-img">
  <h6 class="text date">{{ post.date | postDate }}</h6>
  <h4 class="title">{{ post.data.title }}</h4>
  <h6 class="text teaser">{{ post.data.teaser }}</h6>
  <a class="blog-btn" href="{{ post.url | url }}">Read More <span class="arrow">→</span></a>
</li>