<li class="blog-li">
  <img src="{{ post.data.image }}" alt="" class="blog-img">
  <h6 class="text">{{ post.date | postDate }}</h6>
  <h3 class="title">{{ post.data.title }}</h3>
  <h6 class="text">{{ post.data.teaser }}</h6>
  <a class="blog-btn" href="{{ post.url | url }}">Read More <span class="arrow">→</span></a>
</li>