<footer id="footer">
    <div class="container">
        <!-- Logo Group -->
        <div class="logo-group">
            <a aria-label="go back to home" class="logo" href="">
                <img class="logo-img" aria-hidden="true" loading="lazy" decoding="async" src="/images/logo_light.svg"
                    alt="logo" width="240" height="32">
            </a>
            <p class="text">
                Etiam nulla ultrices consequat, posuere nulla. Ac iaculis lorem phasellus ultrices adipiscing viverra
                sit ut quam. In diam mattis elementum diam at sed ultricies.
            </p>
        </div>
        <!-- Links -->
        <ul class="nav">
            <li class="nav-li">
                <span class="header">Sitemap</span>
            </li>
            <li class="nav-li">
                <a class="nav-link" href="">Home</a>
            </li>
            <li class="nav-li">
                <a class="nav-link" href="">About</a>
            </li>
            <li class="nav-li">
                <a class="nav-link" href="">Services</a>
            </li>
            <li class="nav-li">
                <a class="nav-link" href="">Portfolio</a>
            </li>
            <li class="nav-li">
                <a class="nav-link" href="">Contact</a>
            </li>
        </ul>
        <!-- Contact Info -->
        <ul class="contact">
            <li class="nav-li">
                <span class="header">Contact</span>
            </li>
            <li class="contact-li">
                <a class="contact-link" href="tel: 9123-4567">(+65) 9123-4567</a>
            </li>
            <li class="contact-li">
                <a class="contact-link" href="mailto:hwwdinfo@gmail.com">hwwdinfo@gmail.com</a>
            </li>
            <!-- Social Media -->
            <li class="contact-li social-group">
                <div class="social">
                    <a class="social-link" aria-label="visit google profile" href="">
                        <img class="social-img" aria-hidden="true" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.digitaloceanspaces.com/Social/google.svg" alt="google" width="11"
                            height="11">
                    </a>
                    <a class="social-link" aria-label="visit facebook profile" href="">
                        <img class="social-img" aria-hidden="true" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.digitaloceanspaces.com/Social/Facebook.svg" alt="facebook" width="6"
                            height="11">
                    </a>
                    <a class="social-link" aria-label="visit instagram profile" href="">
                        <img class="social-img" aria-hidden="true" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.digitaloceanspaces.com/Social/instagram.svg" alt="instagram"
                            width="11" height="11">
                    </a>
                </div>
            </li>
        </ul>
    </div>
</footer>