---
layout: pagenav.njk
title: "Services"
pagename: "Services"
---
<section id="hero">
    <h2 class="title">Guided Support for Every Stage of Your Wellness Journey</h2>
    <h6 class="text">Whether you're just starting out or looking to go deeper, these services are designed to help you create a life that feels and looks good. Through personalized guidance and science-backed strategies, we’ll bring clarity, energy, and balance into your daily routine.</h6>
</section>
<section id="services">
    <div class="container">
        <ul class="services-ul">
            <li class="services-li">
                <h4 class="title">Coaching</h4>
                <h6 class="text">A personalized experience to help you break 
                    unhealthy patterns, rediscover balance, and build a lifestyle 
                    that nourishes you.</h6>
                <a href="/coaching" class="button-secondary">Learn More <span class="arrow">→</span></a>
            </li>
            <li class="services-li">
                <h4 class="title">Balance Blueprint</h4>
                <h6 class="text">A guided 4-week course to reset your habits, 
                    calm your mind, and reconnect with what matters at your own 
                    pace, in community.</h6>
                <a href="/coaching" class="button-secondary">Learn More <span class="arrow">→</span></a>
            </li>
        </ul>
    </div>
</section>
<section id="four-step">
    <div class="container">
        <h2 class="title">4 Step Signature Wellness Method</h2>
        <h4 class="text">“The tools are powerful, but the process is what transforms.”</h4>
        <ul class="four-step-ul">
            <li class="four-step-li">
                <div class="icon-box">
                    <img src="/images/eye.svg" alt="" width="40" height="40">
                </div>
                <h4 class="title">Awareness</h4>
                <h6 class="text">Identify physical, mental, and emotional 
                    patterns that are no longer serving you. Learn to observe 
                    without judgment.</h6>
            </li>
            <li class="four-step-li">
                <div class="icon-box">
                    <img src="/images/ruler.svg" alt="" width="40" height="40">
                </div>
                <h4 class="title">Alignment</h4>
                <h6 class="text">Identify physical, mental, and emotional 
                    patterns that are no longer serving you. Learn to observe 
                    without judgment.</h6>
            </li>
            <li class="four-step-li">
                <div class="icon-box">
                    <img src="/images/location-arrow.svg" alt="" width="40" height="40">
                </div>
                <h4 class="title">Action</h4>
                <h6 class="text">Identify physical, mental, and emotional 
                    patterns that are no longer serving you. Learn to observe 
                    without judgment.</h6>
            </li>
            <li class="four-step-li">
                <div class="icon-box">
                    <img src="/images/link.svg" alt="" width="40" height="40">
                </div>
                <h4 class="title">Integration</h4>
                <h6 class="text">Identify physical, mental, and emotional 
                    patterns that are no longer serving you. Learn to observe 
                    without judgment.</h6>
            </li>
        </ul>
    </div>
</section>