---
layout: pagenav.njk
title: "Coaching"
pagename: "Coaching"
---
<section id="hero">
    <h2 class="title">1-on-1 Wellness Coaching</h2>
    <h6 class="text">Personalized guidance. Sustainable change. A life you can feel good in.</h6>
    <a href="/contact" class="button-secondary white">Start Coaching</a>
</section>
<section id="partnership">
    <div class="container">
        <div class="img-box img-decor left">
            <img src="/images/woman-drinking-tea.png" alt="woman drinking coffee while reading a book">
        </div>
        <div class="content-text">
            <h4 class="title">A Partnership Rooted in Compassion</h4>
            <h6 class="text">This is not about fixing you, because you’re not broken. Through regular sessions and guided support, I’ll help you
            reconnect with your energy, set clear intentions, and build healthier habits that actually last.
            </h6>
        </div>
    </div>
</section>
<section id="features">
    <div class="container">
        <h1 class="title">What You'll Receive</h1>
        <ul class="features-ul">
            <li class="features-li">
                <div class="icon-box">
                    <img src="/images/person-chalkboard.svg" alt="" width="50" height="50">
                </div>
                <h6 class="text">Weekly 60-minute coaching sessions</h6>
            </li>
            <li class="features-li">
                <div class="icon-box">
                    <img src="/images/map-pin.svg" alt="" width="50" height="50">
                </div>
                <h6 class="text">Personalized wellness roadmap</h6>
            </li>
            <li class="features-li">
                <div class="icon-box">
                    <img src="/images/envelope.svg" alt="" width="50" height="50">
                </div>
                <h6 class="text">Unlimited email support between sessions</h6>
            </li>
            <li class="features-li">
                <div class="icon-box">
                    <img src="/images/book.svg" alt="" width="50" height="50">
                </div>
                <h6 class="text">Resources: Journals, meditations, guided reflections</h6>
            </li>
        </ul>
    </div>
</section>
<section id="for-you">
    <div class="container">
        <h1 class="title">Is This For You?</h1>
        <ul class="fy-ul">
            <li class="fy-li">
                <h6 class="text">You feel stuck or overwhelmed and don't know where to start.</h6>
            </li>
            <li class="fy-li">
                <h6 class="text">You've tried other wellness plans, but they didn't last.</h6>
            </li>
            <li class="fy-li">
                <h6 class="text">You want accountability without pressure or shame.</h6>
            </li>
        </ul>
        <div class="testimony-li">
            <img src="/images/quote.svg" alt="" width=50 height=50 class="icon-img">
            <h4 class="text">Working with Elena has truly changed my perspective. I feel more in tune with myself than ever.
            </h4>
            <h4 class="text bold">- Jasmine L.</h4>
        </div>
    </div>
</section>
<section id="cta">
    <div class="container">
        <h1 class="title">Ready to Take the First Step?</h1>
        <h5 class="text">Book a free discovery call and let’s see if we’re a fit.</h5>
        <a href="/contact" class="button-solid cta white">Start Coaching</a>
    </div>
</section>