---
layout: pagenav.njk
title: "About"
pagename: "About"
---
<section id="meet-coach">
    <div class="container">
        <h1 class="title">Meet Your Coach</h1>
        <div class="contents">
            <div class="img-wrapper">
                <img class="content-image" src="/images/workshop.png" alt="">
            </div>
            <div class="content-text">
                <h4 class="text"><strong>Hi I'm Elena</strong></h4>
                <h6 class="text">After years of chasing balance and battling 
                    burnout, I chose to slow down, tune in, and live with 
                    intention. Now, I help others do the same through wellness 
                    coaching grounded in mindfulness, nourishment, and emotional 
                    clarity.
                </h6>
            </div>
        </div>
    </div>
</section>
<section id="philosophy">
    <div class="container">
        <div class="content-text">
            <h1 class="title">My Philosophy</h1>
            <h4 class="title quote">“Wellness Isn’t a Destination—It’s a Relationship 
                With Yourself”</h4>
            <h6 class="text">You deserve to feel well, not just physically, but 
                emotionally and spiritually. My approach combines gentle coaching,
                 practical strategies, and deep listening to support your unique 
                 journey.</h6>
        </div>
        <div class="img-box img-decor">
            <img src="/images/tree.png" alt="" class="content-image">
        </div>
    </div>
</section>
<section id="cta">
    <div class="container">
        <h1 class="title">Start Your Wellness Journey Today</h1>
        <a href="/contact" class="button-solid cta">Book a Session</a>
    </div>
</section>