#hero {
  position: relative;
  background-image: url(/images/calming_bg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: calc(132px + clamp(3rem, 10vh, 7rem)) 1rem clamp(4rem, 12vh, 8rem);
  z-index: 0; /* ensure it's behind any absolutely positioned children */
  padding-bottom: 0;
}

#hero::before {
  content: '';
  position: absolute; /* fixed from "display: absolute" */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* light overlay (or use black for darkening) */
  z-index: -1;
  pointer-events: none; /* optional: lets you click "through" the overlay */
}

#hero * {
    color: var(--bodyTextColorWhite);
    z-index: 10;
}

#hero .button-solid {
    margin-top: var(--fontSize48);
}

.hero-contents {
    margin-bottom: var(--fontSize48)
}

#hero .hero-img {
    justify-self: center;
    width: 80%;
    max-width: 800px;
    position: relative;
}

#hero .elena-desc{
    z-index: 10;
    color: var(--bodyTextColorWhite);
    width: 80%;
    max-width: 400px;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-25%);
}
#feature .title{
    text-align: center;
    margin-bottom: var(--fontSize96);
    margin: 0 auto;
}
#feature .title::before {
    content: "What I offer";
}
.feature-ul {
    list-style: none;
}
.feature-li {
    box-shadow: 0 0 14.5px 5px rgba(0, 0, 0, 0.1);
    border-radius: var(--fontSize32);
    margin-top: var(--fontSize32);
    padding: var(--fontSize96) var(--fontSize48);
    text-align: center;
}
.feature-li .icon-box {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 14.5px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: var(--fontSize48);
}
.feature-li .text{
    margin: 0 auto;
}
/* Testimony */
#testimony .title {
    text-align: center;
}
#testimony .title::before {
    content: "Client Testimonials"
}
.testimony-ul {
    list-style: none;
}
.testimony-li {
    box-shadow: 0 0 14.5px 5px rgba(0, 0, 0, 0.1);
    border-radius: var(--fontSize32);
    margin-bottom: var(--fontSize32);
    padding: var(--fontSize96) var(--fontSize48);
}
/* Blog */
#blog {
    background-color: var(--primary);
}
#blog * {
    color: var(--bodyTextColorWhite);
}
#blog h1.title::before {
    content: 'Blog Highlights';
    color: var(--bodyTextColorWhite);
}
#blog .blog-ul {
    list-style: none;
}
#blog .blog-li {
    margin-bottom: var(--fontSize32);
}
#blog .blog-li .date {
    margin-top: 5px;
}
#blog .blog-li .blog-img {
    object-fit: contain;
    height: 270px;
    display: block;
}
#blog .blog-li .teaser {
    margin-bottom: 1rem;
}
#blog .button-solid {
    margin-top: var(--fontSize48);
}
#cta {
    background-color: #F3F6F0;
}
#cta .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--fontSize96);
    text-align: center;
}
@media (min-width: 64rem) {
    #hero{
        min-height: 100vh;
        padding: calc(132px + clamp(3rem, 10vh, 7rem)) 1rem clamp(4rem, 12vh, 8rem);
        position: relative;
    }
    #hero .hero-contents {
        width: 70%;
    }
    #hero::before {
        width: 80%;
        border-right: 6px solid var(--secondary);
    }
    #hero .hero-img{
        position: absolute;
        bottom: 0;
        right: 2vw;
        width: 35vw;
        max-width: 500px;
    }
    #hero .elena-desc{
        left: auto;
        right: 0;
        width: 35vw;
    }
    .feature-ul {
        display: flex;
        gap: var(--fontSize48);
    }
    .testimony-ul {
        display: flex;
        gap: var(--fontSize48);
    }
    #blog .blog-li {
        margin-bottom: 0;
    }
    #blog .blog-ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}